@font-face {
  font-family: 'Pokemon Solid Normal';
  font-style: normal;
  font-weight: normal;
  src: local('Pokemon Solid Normal'), url('Pokemon Solid.woff') format('woff');
}

.title {
  font-family: "Pokemon Solid Normal";
  font-size: 3.5vw;
  /* background: linear-gradient(to top, white 40%, black 42%, red 44%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  color: #FECD27;
  -webkit-text-stroke: 2px #3466AE;
}
